Source: turqstat
Section: mail
Priority: optional
Maintainer: peter karlsson <peterk@debian.org>
Standards-Version: 3.0.1

Package: turqstat
Architecture: any
Depends: ${shlibs:Depends}
Build-Depends: debhelper
Suggests: crashmail | news-transport-system
Description: Fidonet and Usenet message base statistics program
 Turquoise SuperStat is a simple but powerful Fidonet and Usenet
 message base statistics program that can read messages that are
 stored in SDM (*.MSG), SquishMail, JAM, FDAPX/w and MyPoint
 message bases as well as Usenet news spools.
