Source: turqstat
Section: mail
Priority: optional
Maintainer: Peter Karlsson <peterk@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 4), libqt4-dev, qt3-dev-tools-compat

Package: turqstat
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Suggests: crashmail | news-transport-system | slrnpull
Description: Fidonet and Usenet statistics program
 Turquoise SuperStat is a simple but powerful Fidonet and Usenet
 message base statistics program that can read messages that are
 stored in SDM (*.MSG), SquishMail, JAM, FDAPX/w and MyPoint
 message bases as well as local or remote (NNTP) Usenet news
 spools.
 .
 This is the command line based version.

Package: xturqstat
Architecture: any
Depends: ${shlibs:Depends}, turqstat
Suggests: crashmail | news-transport-system | slrnpull
Description: Fidonet and Usenet statistics program for X
 Turquoise SuperStat is a simple but powerful Fidonet and Usenet
 message base statistics program that can read messages that are
 stored in SDM (*.MSG), SquishMail, JAM, FDAPX/w and MyPoint
 message bases as well as local or remote (NNTP) Usenet news
 spools.
 .
 This is the GUI version.
